.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.sidebar {
  text-align: left;
  width: max-content;
  font-style: italic;
  font-weight: bold;
}


/* App.css */
.app-container {
  display: flex;
}

.left-component {
  background-color: #f0f0f0;
  width: max-content;
  padding: 20px;
  margin-right: 2%;
}

.right-components {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.right-component {
  background-color: #e0e0e0;
  padding: 20px;
  margin: 10px;
}
