.App {
  text-align: center;
  margin:auto;
  display: grid;
  place-items: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.navbar {
  background-color: rgb(0, 0, 0);
  width: 100vw;
  overflow: scroll;
}


/* App.css */
/* .app-container {
  display: flex;
} */

.nav-container {
  background-color: #f0f0f0;
  width: 100vw;
  display: inline;
}

/* .right-components {
  display: flex;
  flex-direction: column;
  flex: 2;
} */

.right-component {
  background-color: #e0e0e0;
  padding: 20px;
}
/* Home.css */

.home-container {
  text-align: left;
  padding: 20px;
}

.home-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.home-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

@keyframes backgroundChange {
  0% {
    background-color: rgb(215, 211, 211);
  }
  25% {
    background-color: #f0f0f0;
  }
  50% {
    background-color: rgb(215, 211, 211);
  }
  75% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: rgb(215, 211, 211);
  }
}

.news-container {
  background-color: rgb(215, 211, 211);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  animation: backgroundChange 10s linear infinite;
}

.news-list {
  list-style-type: none;
  padding: 0;
}

.news-item {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  line-height: 1.5;
  transition: transform 0.2s ease-in-out;
}

.new-item {
  color: green;
}

.news-item::before {
  content: '\2022';
  position: absolute;
  left: 0;
  top: 0;
  color: green;
}

.news-item:hover {
  transform: scale(1.05);
}

.dropdown {
  text-decoration: none;
  color: darkslategray;
  margin-top: 10%;
}

.howto {
  text-align: left;
}

.custom-width {
  width: -webkit-fill-available;
}

.new {
  color: crimson;
}

/* Default styles for large screens */
/* .custom-navbar {
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
} */

/* .left-component {
  background-color: transparent;
} */
/* .custom-navbar.expanded .expanded-home-link {
  color: #007bff;
} */

/* .custom-navbar a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
} */

/* .custom-navbar a:hover {
  color: #007bff;
} */

/* Navbar Toggler styles */
/* .navbar-toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
} */

/* .navbar-toggler-icon {
  background-color: #333;
  border-radius: 2px;
  display: inline-block;
  width: 1.5rem;
  height: 0.125rem;
} */

/* Navbar Collapse styles */
/* .collapse {
  flex-basis: 100%;
}

.custom-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}
*/

.custom-nav-link {
  margin-left: auto;
  border: 1px solid black;
  border-radius: 20px;
  background-color: white;
  width: fit-content;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  color: rgb(0, 30, 255);
  font-size: smaller;
}

.custom-nav-link a {
  font-weight: 500;
  color: inherit !important;
}

.custom-nav-link a:hover {
  color: #007bff;
} 

.Navbar-page-text{
  color: white;
}

/* Medium screens (e.g., iPads) */
@media (max-width: 992px) {
  /* .custom-navbar {
    padding: 0.5rem 1rem;
    max-width: 160px;
  }

  .custom-navbar a {
    margin-right: 0.5rem;
  } */
}


/* about section */

.about-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffffce;
  margin-right: auto;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: -10px 5px 20px rgba(0, 131, 50, 0.624);

}

.about-container h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-container h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.about-container .howto {
  font-size: 1rem;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.about-container ul {
  list-style: disc;
  padding-left: 20px;
}

.about-container li {
  margin-bottom: 10px;
}

.about-container h4 {
  font-size: 1.5rem;
  margin: 30px 0 10px;
}

.about-container .social-links {
  margin-top: 20px;
}

.about-container a.linkedin {
  text-decoration: none;
  color: #0077b5;
  margin-right: 10px;
  font-size: 1.5rem;
}

.about-container a.linkedin:hover {
  text-decoration: underline;
}

.about-container small {
  font-size: 0.8rem;
  color: #777;
}

.about-container footer {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #777;
}

/* Order section */

.order-container {
  text-align: center;
  margin-top: 50px;

  background-color: #7ecffbba;
  padding: 30px;
  border: 1px solid black;
  border-radius: 12px;
}

.order-input{
  max-width: 200px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.75);
}

.order-btn{
  box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, 0.75);
  font-family:monospace;
  font-weight: bolder;
}

.order-search-title{
  font-family:fantasy;
  font-weight: bolder;

}

.order-container h4 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.order-container input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.order-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.order-container button[type="submit"]:hover {
  background-color: #0056b3;
}

button.complete-order {
  position: fixed;
  bottom: 1%;
  width: 95vw;
  left: 10px;
}

/* DisplayOrder.css */

.display-order-container {
  text-align: center;
  margin: 20px;
  background-color: white;
  border: 2px solid rgb(93, 26, 26);
}

.order-number {
  font-size: 18px;
  color: #333;
}

.download-btn {
  margin-top: 10px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-table th {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.order-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.table-header {
  background-color: #555;
  color: #fff;
}

/*  not found page 404 */

.Notfound__container {
  text-align: center;
  margin-top: 100px;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: bounce 5s infinite; 
  border: 2px solid black;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.BouncingImage {
  width: 400px;
  height: 400px;
  background-image: url('../public/Lost.png');
  background-size: cover;
  animation: bounce 1s infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes showHideText {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.PopupText {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  animation: showHideText 3s infinite, showHideTextDelay 15s infinite;
  opacity: 0;
}

@keyframes showHideTextDelay {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

}

.btn-color1 {
  background-color: rgb(126, 1, 1);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}

.btn-color2 {
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.items-container {
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  font-weight: bolder;
  max-height: 600px;
  overflow-y: scroll;
}

.items-container::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.items-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 20px;
  border: 1px solid black;
  border-right: none;
}

.items-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar thumb on hover */
}

.items-title {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.items-list {
  text-decoration: underline;

  font-size: smaller;

}

h2 {
  text-decoration: none !important;
}


/* 
.modal {
  display: block;
} */

/* Small screens (e.g., iPhones) */
@media (max-width: 576px) {
  /* .custom-navbar {
    padding: 0.5rem;
    max-width: 138px;
  }

  .custom-navbar a {
    margin-right: 0.3rem;
  }

  .navbar-toggler {
    margin-right: 0.5rem;
  } */
  .btn-color1 {
    background-color: rgba(255, 255, 255, 0.599);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.45);
    width: fit-content;
    border-radius: 30px;
    color: black;
  }

  .btn-color2 {
    background-color: rgba(130, 130, 130, 0.253);
    box-shadow: 3px 3px 5px 0px rgba(2, 4, 83, 0.673);
    width: fit-content;
    border-radius: 30px;
    color: rgb(8, 3, 3);
  }

  .request-options{
    background-color: rgba(255, 0, 0, 0);
    display: grid;
    width: fit-content;
    grid-template-areas:
      "essentials brentwood ."
      "secondary modems ."
      "zips zips ."
      "accessories accessories ."
      "copper enterprise enterprise"
      "tools . .";
      margin: 20px;
  }

  .essentials{
    grid-area: essentials;
  }

  .secondary{
    grid-area: secondary;
  }

  .brentwood{
    grid-area: brentwood;
  }

  .modems{
    grid-area: modems;
  }

  .zips{
    grid-area: zips;
  }

  .accessories{
    grid-area: accessories;
  }

  .copper{
    grid-area: copper;
  }

  .enterprise{
    grid-area: enterprise;
  }
  
  .tools{
    grid-area: tools;
  }

}